.MainDash {
  display: flex;
  flex-direction: column;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 5rem;
}
@media screen and (max-width: 1200px) {
  .MainDash {
    justify-content: flex-start;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .MainDash {
    align-items: center;
  }
}
