.RightSide {
  display: flex;
  flex-direction: column;
  padding-top: 5rem !important;
}
.FeaturedJobs {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-right: 1.2rem;
}
@media screen and (max-width: 1200px) {
  .RightSide {
    justify-content: flex-start;
    margin-top: 3rem;
  }
  .FeaturedJobs {
    height: auto !important;
    width: auto !important;
    padding-left: 0.3rem;
    padding-right: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .RightSide {
    width: 100%;
    margin-top: 0;
    height: auto;
  }
  .RightSide > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .RightSide > div > div {
    padding: 1rem;
  }
}
